.profileBlock {
    background-color: white;
    width: 10%;
    height: 100vh;
    float: right;
}
.openedProfile {
    width: 80%;
    background-color: white;
    right: 0;
    height: 100vh;
    position: absolute;
}
